<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 table-responsive">
            <table class="table ">
                <thead>
                  <tr>
                    
                    <th >Employee Code</th>
                    <th >Employee Name</th>
                    <th >Designation</th>
                    <th>Salary</th>
                    <th>Company Name</th>
                    <th>User Name</th>
                    <th>Password</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of data">
                   
                    <td>{{i.emp_code}}f</td>
                    <td>{{i.emp_name}}</td>
                    <td>{{i.desi}}</td>
                    <td>{{i.salary}}</td>
                    <td>{{i.comp_name}}</td>
                    <td>{{i.username}}</td>
                    <td>{{i.pswrd}}</td>



                  </tr>
                
                  
                </tbody>
              </table>
              
        </div>
    </div>
</div>